.thought {
  display:flex;
  background-color: #EEDD82;
  padding:20px;
  border-radius:30px;
  min-width:40px;
  max-width:220px;
  min-height:40px;
  margin:20px;
  position:relative;
  align-items:right;
  justify-content:center;
  text-align:center;
  margin-top: 9px;
  margin-right: 30px;
}
.thought:before,
.thought:after {
  content:"";
  background-color:#EEDD82;
  border-radius:50%;
  display:block;
  position:absolute;
  z-index:-1;
}
.thought:before {
  width:44px;
  height:44px;
  top:-12px;
  left:28px;
  box-shadow:-50px 30px 0 -12px #EEDD82;
}
.thought:after {
  bottom:-10px;
  right:26px;
  width:30px;
  height:30px;
  box-shadow:40px -34px 0 0 #EEDD82,
             -28px -6px 0 -2px #EEDD82,
             -24px 17px 0 -6px #EEDD82,
             -5px 25px 0 -10px #EEDD82;
  
}

#speech-bubble {
  display:flex;
  background-color: #87CEFA;
  padding:20px;
  border-radius:30px;
  min-width:40px;
  max-width:220px;
  min-height:40px;
  margin:20px;
  position:relative;
  align-items:right;
  justify-content:center;
  text-align:center;
  margin-top: 45px;
  margin-left: 150px;
}
#speech-bubble:before,
#speech-bubble:after {
  content:"";
  background-color:#87CEFA;;
  border-radius:50%;
  display:block;
  position:absolute;
  z-index:-1;
}
#speech-bubble:before {
  width:44px;
  height:44px;
  top:-12px;
  left:28px;
  box-shadow:-50px 30px 0 -12px #87CEFA;
}
#speech-bubble:after {
  bottom:-10px;
  right:26px;
  width:30px;
  height:30px;
  box-shadow:40px -34px 0 0 #87CEFA,
             -28px -6px 0 -2px #87CEFA,
             -24px 17px 0 -6px #87CEFA,
             -5px 25px 0 -10px #87CEFA;
  
}
