<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chat page for {{username}}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style2.css')}}" >
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
  <body>
        <div class="text-center well"><b class ="w3-monospace">Chat Room</b></div>
            <div class="container">
                <div class="col-sm-8">
                    <div>
                        {% for message in chat_messages %}
                            {% if message.from == username %}
                                <p class= "thought">({{ message.timestamp }}) {{ message.from }}: {{ message.message }}</p>
                            {% else %}
                                <p id="speech-bubble">({{ message.timestamp }}) {{ message.from }}: {{ message.message }}</p>
                            {% endif %}
	                     {% endfor %}
                    
                    </div>
                </div>
                <div class="col-sm-4">
                    <form action="" method="POST">
                        <b class ="w3-monospace">TYPE YOUR MESSAGE HERE <span class="glyphicon glyphicon-arrow-down"></span></b>
                        <div class="clearfix" style="margin-top: 5px;"></div>
                        <div style="padding-top: 5px;"></div>
                        <textarea name="message" id="message" class="message form-control w3-monospace" placeholder="Messages"></textarea>
                        <div style="padding-top: 10px;"></div>
                        <button class="btn btn-warning btn-block w3-monospace"><span class="glyphicon glyphicon-send"></span> SEND</button>
                     </form>
                     <div style="padding-top: 10px;"></div>
                     <a class="reset" href="{{url_for('reset')}}"><button class="w3-btn w3-white w3-border w3-border-orange w3-round-large w3-monospace">Reset</button></a>
                     <div style="padding-top: 10px;"></div>
                     <a  class="reset" href="{{url_for('chat')}}"><button class="w3-btn w3-white w3-border w3-border-orange w3-round-large w3-monospace">Return to Chat Room</button></a>
                </div>
            </div>
	    <script>
            let textbox = document.getElementById("message")

	        let timer=setTimeout(function() {
	            location.reload()
            }, 5000)
            
            textbox.onkeydown = function(e){
            
                clearTimeout(timer)

                timer =setTimeout(function() {
                   location.reload();
                }, 5000)
                
            }
	    </script>

    </body>
</html>